.bg-own-green
{
    background-color: #03CEA4;
}
.bg-own-yellow
{
    background-color: #EAC435;
}
.text-own-yellow
{
    color:#EAC435;
}
.borderBottom-color-yellow
{
    border-bottom: #EAC435 2px solid;
    /* border-color: #EAC435; */
}
.border-color-yellow
{
    border: #EAC435 3px solid;
    /* border-color: #EAC435; */
}
#SortingRecepies
{
    border: 2px solid #EAC435;
}
.admin-recepies-image:hover
{
    opacity: 40%;
}
#ingredients
{
    color: #03CEA4;    
}
.nav-button:hover
{
    background-color: #EAC435;
}

.btn:hover
{
    background-color: #eac335e8;
    color: black;
    letter-spacing: .05rem;
}
.linkFont
{
    text-decoration: none;
    color: white;
}
.linkFont-Black
{
    text-decoration: none;
    color: black;
}
#footer a
{
    margin-left: 8px;
}
#editedRecepieBlock:hover
{
    background-color: #EAC435;
}
.input-own
{
    transition: border 280ms ,20ms;
}
.input-own:focus ,.input-own:hover
{
    outline: 0;
    background:  #f8fff5;
    border: 2px solid #EAC435;
}

#addImage
{
    display: inline-block;
    background:  #fbfff0;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 25px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15pt;
}
.own-hover-border
{
    border: 1px solid rgb(223, 219, 219);
}
.own-hover-border:hover
{
    border-left: 3px dashed #EAC435;
}
select ,select option
{
  border: 1px solid rgb(223, 219, 219);   
}
select:hover
{
    opacity: 70%;
}
.bi-gear:hover
{
    color:rgb(74, 74, 248);
}