.bg-own-green
{
    background-color: #03CEA4;
}
.bg-own-yellow
{
    background-color: #EAC435;
}
.text-own-yellow
{
    color:#EAC435;
}
.borderBottom-color-yellow
{
    border-bottom: #EAC435 1px solid;
    /* border-color: #EAC435; */
}
#SortingRecepies
{
    border: 2px solid #EAC435;
}
.admin-recepies-image:hover
{
    opacity: 40%;
}
#ingredients
{
    color: #03CEA4;    
}
.nav-button:hover
{
    background-color: #EAC435;
}
.btn:hover
{
    opacity: 0.60;
    background-color: #EAC435;
    color: black;
}
.linkFont
{
    text-decoration: none;
    color: white;
}
.linkFont-Black
{
    text-decoration: none;
    color: black;
}
#footer a
{
    margin-left: 8px;
}
#editedRecepieBlock:hover
{
    background-color: #EAC435;
}